<div class="well">
  <h2>{{post.author}}'s post about {{post.subject}}</h2>
  <p>{{post.content}}</p>
  <button {{action 'delete' post}}>Delete Post</button>
</div>

<h2>Comments</h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>
