<br>
<div class="well">
  <h1>Welcome to Blogga The Hutt</h1>
  <p>Blog Hutt is a place to post and read blogs from around the world.</p>
</div>
<div class="well">
  <ul>
    {{#each model.posts as |post|}}
    <li>{{post-tile post=post}}</li>
    {{/each}}
  </ul>
</div>
{{new-post savePost="savePost"}}

<h2>Comments</h2>
<ul>
  {{#each model.comments as |comment|}}
  <li>"{{comment.word}}" by {{comment.name}}</li><br>
  {{/each}}
</ul>

{{new-comment saveComment="saveComment"}}
